
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header/baseImports'); %>
    <%- include('../components/header/mapImports'); %>
    <%- include('../components/header/desktop/booking'); %>
    <%- include('../components/header/pointRecommendation'); %>

    <link href="/css/navbar.css" rel="stylesheet" type="text/css">

    <style>
        #floater{
            position: absolute;
            top : 15%;
            left: 15%;
            width: 21%;
            height: 80%;
            background-color: white;
            z-index: 1;
        }

        #textInputArea{
            height: 27%;
        }

        #recommendation_area{
            overflow-y: scroll;
            height: 535px;
        }

        .scroll {
            height: 432px;
            width: 400px;
            overflow-y: scroll;
        }

        .scroll--simple::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        }
        .scroll--simple::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
        }
        .scroll--simple::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
        }
        .scroll--simple::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
        }
        .scroll--simple::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.9);
        }
        html,
        body {
          font-family: "Montserrat", "Quicksand";
          height: 100%;
        }
      
        i {
          color: blue;
          margin-left: 20px;
        }
      
        .map {
          z-index: -1 !important;
        }
        .arrow1 {
          animation: slide1 1s ease-in-out infinite;
          margin-left: 9px;
        }
      
        @keyframes slide1 {
          0%,
          100% {
            transform: translate(0, 0);
          }
      
          50% {
            transform: translate(10px, 0);
          }
        }
      
        .slider-card {
          overflow: hidden;
          height: 50%;
          width: 20% !important;
          background-color: white;
        }
      
        .card-body {
          position: fixed;
          max-width: 21%;
          max-height: 100%;
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          transition: top 1s;
          transition: all 1s;
          z-index: 0;
        }
      
        .card-text {
          color: #2b0099;
          height: 100px;
        }
  
        .route-card {
          display: inline-block;

          z-index: 1;
        }
      
        .place-card {
          z-index: 2;
        }
      
        .circular-button{
            border-radius: 30px;
            padding: 10px 12px;
            background-color: rgb(238, 238, 238)
        }

        #bookCabButton {
          z-index: 3;
        }
        .vertical-line {
          display: inline-block;
          border-left: 2px solid rgb(153, 152, 152);
          margin: 0 10px;
          height: 125px;
          z-index: -1000;
        }
      
        @media (min-width: 524px) {
          .vertical-line {
            display: inline-block;
            border-left: 2px solid rgb(153, 152, 152);
            margin: 0 10px;
            height: 160px;
            z-index: -1000;
          }
        }
      
        .ribbon {
          width: 110px;
          height: 110px;
          overflow: hidden;
          position: absolute;
        }
        .ribbon::before,
        .ribbon::after {
          position: absolute;
          z-index: -1;
          content: "";
          display: block;
          border: 5px solid #3fc060;
        }
        .ribbon span {
          position: absolute;
          display: block;
          width: 180px;
          padding: 8px 0;
          background-color: #3fc060;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          color: #fff;
          font: 700 12px/1 "Lato", sans-serif;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          text-transform: uppercase;
          text-align: center;
        }
      
        /* top left*/
        .ribbon-top-left {
          top: -10px;
          left: -10px;
        }
        .ribbon-top-left::before,
        .ribbon-top-left::after {
          border-top-color: transparent;
          border-left-color: transparent;
        }
        .ribbon-top-left::before {
          top: 0;
          right: 0;
        }
        .ribbon-top-left::after {
          bottom: 0;
          left: 0;
        }
        .ribbon-top-left span {
          right: -25px;
          top: 30px;
          transform: rotate(-45deg);
        }
      </style>
  </head>
  <body>
    <main>
      <div class="header">
        <div class="header__container">
          <div class="header__left">
            <a href="#">
              <svg style="display:block;width:auto;height:20px;" viewBox="0 0 154 52" width="auto"><path d="M8.088 31.704c0 8.136 5.328 13.392 12.384 13.392 6.984 0 12.384-5.4 12.384-13.392V.6h7.56V51h-7.488v-4.68c-3.384 3.528-8.064 5.544-13.32 5.544-10.8 0-19.08-7.848-19.08-19.728V.6h7.56v31.104zM47.832 51V.6h7.272v18.36a18.156 18.156 0 0 1 13.032-5.472c10.8 0 19.296 8.568 19.296 19.224 0 10.584-8.496 19.152-19.296 19.152-5.112 0-9.792-2.088-13.104-5.472V51h-7.2zm7.128-18.288c0 7.056 5.616 12.744 12.672 12.744 6.912 0 12.6-5.688 12.6-12.744 0-7.128-5.688-12.744-12.6-12.744-6.984 0-12.672 5.616-12.672 12.744zm36.792-.072c0-10.368 8.136-19.08 18.864-19.08 10.584 0 18.36 8.136 18.36 19.08v2.376h-29.88c1.008 5.976 5.976 10.44 12.168 10.44 4.248 0 7.848-1.728 10.584-5.4l5.256 3.888c-3.672 4.896-9.144 7.848-15.84 7.848-11.016 0-19.512-8.208-19.512-19.152zm18.72-12.744c-5.4 0-9.936 3.744-11.232 9.36h22.392c-1.224-5.616-5.76-9.36-11.16-9.36zm42.696.864h-3.024c-4.752 0-8.208 3.672-8.208 9.36V51h-7.272V14.28h7.2v4.536c1.8-2.952 4.752-4.824 8.784-4.824h2.52v6.768z"></path></svg>
            </a>
            <div class="header__nav header__nav--primary">

            </div>
          </div>
          
          <div class="header__right">
            <div class="header__nav header__nav--secondary">
              <button class="header__item">Log in</button>
              <button class="header__item">Sign up</button>
              <button class="header__item header__item--mobile"><svg aria-hidden="true" focusable="false" height="16px" fill="currentColor" viewBox="0 0 12 12"><path d="M0 3h12.002v2H0zm0 5h12.002v2H0z"></path></svg></button>
            </div>
          </div>
        </div>
      </div>   
        <div>

            <div id="map" class="shadow-lg h-full w-full h-6/12 "  style="width: 100%; height: 100vh;">
            </div>


            <div id="floater" class="rounded-lg shadow-xl">
                <div id="textInputArea" >
                    <div class="mt-4 ml-4 font-regular text-3xl">Where to?</div>
        
                    <div class="mb-2 ml-2 mr-3">
                        <div class="w-full  text-xl">
                            <div class="flex mt-5 mb-3">
                                <div class="w-1/12 text-center pt-3 mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 m-auto">
                                    <path d="M352 256C352 309 309 352 256 352C202.1 352 160 309 160 256C160 202.1 202.1 160 256 160C309 160 352 202.1 352 256zM256 208C229.5 208 208 229.5 208 256C208 282.5 229.5 304 256 304C282.5 304 304 282.5 304 256C304 229.5 282.5 208 256 208zM256 0C269.3 0 280 10.75 280 24V65.49C366.8 76.32 435.7 145.2 446.5 232H488C501.3 232 512 242.7 512 256C512 269.3 501.3 280 488 280H446.5C435.7 366.8 366.8 435.7 280 446.5V488C280 501.3 269.3 512 256 512C242.7 512 232 501.3 232 488V446.5C145.2 435.7 76.32 366.8 65.49 280H24C10.75 280 0 269.3 0 256C0 242.7 10.75 232 24 232H65.49C76.32 145.2 145.2 76.32 232 65.49V24C232 10.75 242.7 0 256 0V0zM112 256C112 335.5 176.5 400 256 400C335.5 400 400 335.5 400 256C400 176.5 335.5 112 256 112C176.5 112 112 176.5 112 256z"/></svg>
                                </div>
                                <div class="w-full">
                                    <input id="origin" class="bg-gray-200 text-sm h-10  appearance-none border-2 border-gray-200  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="from" type="text" value="Army Institute of Technology"></input>
                                </div>
                            </div>
                            <div class="flex mt-3 mb-3 ">
                                <div class="w-1/12 pt-3 mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="w-3 m-auto">
                                    <path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                                </div>
                                
                                <div class="w-full">
                                    <input id="destination" class="bg-gray-200 text-sm h-10  appearance-none border-2 border-gray-200  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="from" type="text" value="Pune Railway Satation"></div>
                                </div>
                        </div>
                        <div class="flex w-full">
                            <button id="recommendPlacesButton"
                            onclick="getCurrentLocationRecommendation()" 
                            class="flex circular-button ml-10 text-black font-regular text-xs hover:bg-gray-700 hover:text-white ">
                                <div>Recommend</div>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 w-4" viewBox="0 0 512 512"><path d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"/></svg>
                                </span>
                            </button>
                        </div>
                        
                    </div>
                    
                    
                
                    <div class="absolute bottom-0 left-0 w-full z-105">
                        <button  onclick="bookCab()"  id="bookCabButton" class="h-12 w-full bg-black text-white font-regular text-xl  px-8 border border-gray-400 shadow ">
                            Book cab
                        </button>
                      </div>


                      <div class="recoommedation-card-section">
                        <div class="flex flex-col transition ">

                          <div id="recommendation_area" class="scroll scroll--simple">

                          </div>
                        </div>
                    </div>
                </div>

               
    <!--
            
    -->
            </div>
        </div>


    </main>

    <script>


        function bookCab(){
            let url = new URL(window.location.origin + "/desktop/nextspot/");
            let origin = document.getElementById('origin').value;
            let destination = document.getElementById('destination').value;

            url.searchParams.append('origin', origin);
            url.searchParams.append('destination', destination);
            window.open(url, "_self");
        }

    
    </script>


    <script>

    var clicked=true;
    
      $(document).ready(function(){
        $("#recommendPlacesButton").click(function () {
          $(".card-body").toggleClass("transition");
        });

      });
    </script>
  </body>
</html>
