
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header/baseImports'); %>
    <%- include('../components/header/mapImports'); %>
    <%- include('../components/header/desktop/multiRoute'); %>
  </head>

  <style>
    #floater{
        position: absolute;
        top : 15%;
        left: 15%;
        width: 21%;
        height: 80%;
        background-color: white;
        z-index: 1;
    }

    #textInputArea{
        height: 27%;
    }

    #recommendation_area{
        overflow-y: scroll;
        height: 720px;
    }

    .scroll {
        height: 432px;
        width: 400px;
        overflow-y: scroll;
    }

    .scroll--simple::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }
    .scroll--simple::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    }
    .scroll--simple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    }
    .scroll--simple::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    }
    .scroll--simple::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
    }
    html,
    body {
      font-family: "Quicksand";
      height: 100%;
    }
  
    i {
      color: blue;
      margin-left: 20px;
    }
  
    .map {
      z-index: -1 !important;
    }
    .arrow1 {
      animation: slide1 1s ease-in-out infinite;
      margin-left: 9px;
    }
  
    @keyframes slide1 {
      0%,
      100% {
        transform: translate(0, 0);
      }
  
      50% {
        transform: translate(10px, 0);
      }
    }
  
    .slider-card {
      overflow: hidden;
      height: 50%;
      width: 20% !important;
      background-color: white;
    }
  
    .card-body {
      position: fixed;
      max-width: 21%;
      max-height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      transition: top 1s;
      transition: all 1s;
      z-index: 0;
    }
  
    .card-text {
      color: #2b0099;
      height: 100px;
    }

    .route-card {
      display: inline-block;

      z-index: 1;
    }
  
    .place-card {
      z-index: 2;
    }
  
    .circular-button{
        border-radius: 30px;
        padding: 10px 12px;
        background-color: rgb(238, 238, 238)
    }

    #bookCabButton {
      z-index: 3;
    }

  
    .ribbon {
      width: 110px;
      height: 110px;
      overflow: hidden;
      position: absolute;
    }
    .ribbon::before,
    .ribbon::after {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
      border: 5px solid #3fc060;
    }
    .ribbon span {
      position: absolute;
      display: block;
      width: 180px;
      padding: 8px 0;
      background-color: #3fc060;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      color: #fff;
      font: 700 12px/1 "Lato", sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      text-align: center;
    }
  
    /* top left*/
    .ribbon-top-left {
      top: -10px;
      left: -10px;
    }
    .ribbon-top-left::before,
    .ribbon-top-left::after {
      border-top-color: transparent;
      border-left-color: transparent;
    }
    .ribbon-top-left::before {
      top: 0;
      right: 0;
    }
    .ribbon-top-left::after {
      bottom: 0;
      left: 0;
    }
    .ribbon-top-left span {
      right: -25px;
      top: 30px;
      transform: rotate(-45deg);
    }
    .vertical-line {
    display: inline-block;
    border-right: 2px solid rgb(153, 152, 152);
    height: 40px;
    z-index: -1000;
  }
  </style>
  <body>
    <main>
        <div id="map" class="shadow-lg h-full w-full h-full"  style="width: 100%; height: 100vh;">
        </div>
        <div  id="floater" class="rounded-xl">
          <div id="card-body" class="flex flex-col border transition ">
            <div class="flex flex-col">
              <p class="ml-auto mr-auto mt-5 mb-3">Your best planned route</p>
              <div class="flex">
                <p id="totalTimeArea"></p>
                <p id="totalDistanceArea"></p>
              </div>
            </div>
            <div id="recommendation_area" class="scroll scroll--simple">
              <iframe class="mt-16 ml-auto mr-auto" src="https://embed.lottiefiles.com/animation/53512"></iframe>
            </div>
            
          </div>

          <div class="absolute fixed bottom-0 left-0 w-full z-105">
            <button  onclick="bookCab()"  id="bookCabButton" class="h-12 w-full bg-black text-white font-regular text-xl border border-gray-400 shadow">
                Schedule All Rides
            </button>
        </div>
        </div>
    </main>
  </body>
</html>
