
<div id="directions-panel" class="flex flex-col" >
    
    
</div>

<div id="recommendation_area" class="grid grid-cols-4 gap-10 justify-items-center m-5">

</div>

<a id="submitMultiplePlaces" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 m-2 border border-gray-400 rounded shadow" >Show route</a>




