<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head'); %>
  </head>
  <body>
    <main>

        <div class="pt-8 text-center">
                <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 m-2 border border-gray-400 rounded shadow" href="/explore">Book a cab</a>
                <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 m-2 border border-gray-400 rounded shadow" href="/explore">Explore</a>
        </div>
      
    </main>
  </body>
</html>
