
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/twospothead'); %>
  </head>
  <body>
    <main>
        <div id="map" class="shadow-lg h-full w-full h-6/12"  style="width: 100%; height: 40vh;">
        </div>

        <div class="slider-card">
            <div class="flex flex-col card-body border transition p-8 pt-16">
                <h1 class="text-3xl m-5">Places to visit next</h1>
                    <div class="flex">
                        <div id="suggestionButton" class="m-5 text-xl xshadow-lg bg-slate-300 rounded-3xl text-white font-bold px-4 py-2">
                            Suggestion
                        </div>
                        <div id="restaurantButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderRestaurants()">
                            Resturant
                        </div>

                        <div id="touristButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderTouristPlaces()">
                            Tourist Place
                        </div>

                        <div id="religiousButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderReligiousPlaces()">
                            Religious
                        </div>

                        <div id="gardenButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderGardernPlaces()">
                            Garden
                        </div>
                    </div>

                    <div id="recommendation_area">
                        
                        <iframe class="mt-16"src="https://embed.lottiefiles.com/animation/53512"></iframe>
                    </div>
                    

             
            
            </div>
            <div class="absolute bottom-0 left-0 w-full">
                <button  onclick="showBestRoute()" class="h-32 w-full bg-black text-white font-regular text-5xl py-4 px-8 border border-gray-400 shadow">
                    Show best route
                </button>
            </div>
        </div>


        

    </main>

    <script>
        function knowMorePage(){
            let url = new URL(window.location.origin + "/api/place/dighihills");
            window.open(url, "_self");
        }
    </script>
  </body>
</html>
