
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/twospothead'); %>
  </head>
  <body>
    <main>
        <div id="map" class="shadow-lg h-full w-full h-6/12"  style="width: 100%; height: 40vh;">
        </div>

        <div class="slider-card">
            <div class="flex flex-col card-body border transition p-8 pt-16">
                <h1 class="text-3xl m-5">Places to visit next</h1>
                    <div class="flex">
                        <div id="suggestionButton" class="m-5 text-xl xshadow-lg bg-slate-300 rounded-3xl text-white font-bold px-4 py-2">
                            Suggestion
                        </div>
                        <div id="restaurantButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderRestaurants()">
                            Resturant
                        </div>

                        <div id="touristButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderTouristPlaces()">
                            Tourist Place
                        </div>

                        <div id="religiousButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderReligiousPlaces()">
                            Religious
                        </div>

                        <div id="gardenButton" class="m-5 text-xl shadow-lg rounded-3xl text-black bg-white-400 px-4 py-2" onclick="renderGardernPlaces()">
                            Garden
                        </div>
                    </div>

                    <div id="recommendation_area">
                        <iframe class="mt-16"src="https://embed.lottiefiles.com/animation/53512"></iframe>
                    </div>

                    
                    <!-- 
                    <div class="route-card bg-white-200" style="width: 654px; height: 278px;">
                        <div class="flex items-center justify-center flex-1 p-6 bg-purple-50 bg-opacity-0 border rounded-3xl border-gray-100 shadow-2xl">
                            <div class="flex flex-col w-full space-y-4 h-full">
                                <div class="w-full">
                                    <div class="flex items-center justify-between flex-1 h-full px-6 py-6 bg-purple-50 rounded-3xl">
                                        <p class="text-xl font-medium text-indigo-600">6 Mar, 2022</p>
                                        <p class="text-4xl font-heavy text-red-400">$24</p>
                                    </div>
                                </div>
                                <div class="m-5 flex flex-col items-start justify-end w-full">
                                    <div class="flex">
                                        
                                        <div class="m-auto w-5 h-5 bg-white border-2 rounded-full border-red-400"></div>

                                        <div class="mt-2 ml-5 mr-5 flex flex-col space-y-0.5 justify-end ">
                                            <p class="text-sm font-medium text-gray-400">Pickup location</p>
                                            <p class="text-base font-medium text-gray-800">Internet city - Business tower</p>
                                        </div>
                                    </div>
                                    <div class="border-2-2 relative border-dashed border-blue-500 h-4 border" style="top: 24.5%; left: 1.5%;"></div>

                                    <div class="flex">
                                        <img class="m-auto w-5" src="https://img.icons8.com/color/64/000000/marker--v1.png"/>  
                                        <div class="mb-2 ml-5 mr-5 flex flex-col justify-end">
                                            <p class="text-sm font-medium text-gray-400">Drop off</p>
                                            <p class="text-base font-medium text-gray-800">Mall of the Emirates Metro </p>
                                        </div>
                                    </div>
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-line"></div>
                    <div class="route-card bg-white-200" style="width: 654px; height: 364px;">
                        <div class="flex items-center justify-center flex-1 p-6 bg-purple-50 bg-opacity-0 border rounded-3xl border-gray-100 shadow-2xl">
                            <div class="flex flex-col w-full space-y-4 h-full">
                                <div class="w-full">
                                    <div class="flex items-center justify-between flex-1 h-full px-6 py-6 bg-purple-50 rounded-3xl">
                                        <p class="text-xl font-medium text-indigo-600">6 Mar, 2022</p>
                                        <p class="text-4xl font-heavy text-red-400">$24</p>
                                    </div>
                                </div>
                                <div class="m-5 flex flex-col items-start justify-end w-full">
                                    <div class="flex">
                                        
                                        <div class="m-auto w-5 h-5 bg-white border-2 rounded-full border-red-400"></div>

                                        <div class="mt-2 ml-5 mr-5 flex flex-col space-y-0.5 justify-end ">
                                            <p class="text-sm font-medium text-gray-400">Pickup location</p>
                                            <p class="text-base font-medium text-gray-800">Internet city - Business tower</p>
                                        </div>
                                    </div>
                                    <div class="border-2-2 relative border-dashed border-blue-500 h-4 border" style="top: 24.5%; left: 1.5%;"></div>

                                    <div class="flex">
                                        <img class="m-auto w-5" src="https://img.icons8.com/color/64/000000/marker--v1.png"/>  
                                        <div class="mb-2 ml-5 mr-5 flex flex-col justify-end">
                                            <p class="text-sm font-medium text-gray-400">Drop off</p>
                                            <p class="text-base font-medium text-gray-800">Mall of the Emirates Metro </p>
                                        </div>
                                    </div>
                                    
        
                                </div>
                            </div>
                        </div>
                    </div>
                -->
            
            </div>
            <div class="absolute bottom-0 left-0 w-full">
                <button  onclick="showBestRoute()" class="h-32 w-full bg-black text-white font-regular text-5xl py-4 px-8 border border-gray-400 shadow">
                    Show best route
                </button>
            </div>
        </div>


        

    </main>

  </body>
</html>
